* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*. font-family: 'jacques francois';*/
}

:root {
    --color1: #a7a7a7;
    --color2: #8d8d8d;
    --black: #131313;
}


html {
    scroll-behavior: smooth; 
  }


body {
    background-color:rgb(194, 194, 194);
}



/*HEADER*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black);
    z-index: 2;
}

.logo {
    position: relative;
    left: 2rem;
    font-size: 35px;
    text-decoration: none;
    color: var(--color1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.contenedor a {
    font-size: 22px;
    color: var(--color1);
    text-decoration: none;
    margin-left: 40px;
    transition: all .5s ease;
}

.contenedor a:hover {
    color: aliceblue;
}



/*BANNER */

#banner .slider-container {
    overflow-x: hidden; 
}

#banner .slider {
    width: 100%;
    height: 110vh;
}

#banner .slider ul {
    display: flex;
    animation: cambio 15s infinite alternate linear;
    width: 300%;
}

#banner .slider li {
    width: 100%;
    list-style: none;
}

#banner .slider img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

#banner .content {
    width: 100%;
    color: var(--color1);
    position: absolute;
    text-align: center;
    top: 50vh
}

#banner .content h2 {
    font-size: 80px;
    filter: drop-shadow(7px 7px 10px black);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#banner .content p {
    color:lavender;
    font-size: 30px;
    font-family:Courier;
    margin-bottom: 40px;
    filter: drop-shadow(7px 7px 10px black);
}

#banner a {
    color: var(--black);
    display: inline-block;
    background: var(--color1);
    border: 1px solid;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 20px;
    border-radius: 26px;
    transition: all .5s ease;
    text-decoration: none;
}

#banner a:hover {
    background: var(--black);
    color: var(--color1);
}


/*ICONOS REDES*/

.icono {
    background: var(--color2);
    border: 1px solid var(--color1);
    border-radius: 30px;
    padding: 8px 10px;
    position: fixed;
    bottom: 2%;
    left: 2%; 
    z-index: 2; 
}

.icono .whatsapp {
    width: 45px; 
}
.icono .instagram {
    width: 45px; 
    margin-top: 12px;
}



/*SERVICIOS*/

#services {
    padding-top: 5rem;
    margin-bottom: 15rem;
}

#services h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}

#services .slider {
    max-width: 1000px;
    height: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#services .slider .container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

#services .slider .container .cards {
    position: relative;
    width: 100%;
    height: 100%;
}

#services .slider .container .cards .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#services .slider .container .cards .card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
}

#item-2:checked ~ .cards #select-1, 
#item-1:checked ~ .cards #select-3, 
#item-3:checked ~ .cards #select-2 {
    transform: translateX(-80%) scale(0.8);
    z-index: 0;
    opacity: 0.6;
}
#item-3:checked ~ .cards #select-1, 
#item-1:checked ~ .cards #select-2, 
#item-2:checked ~ .cards #select-3 {
    transform: translateX(80%) scale(0.8);
    z-index: 0;
    opacity: 0.6;
}
#item-1:checked ~ .cards #select-1, 
#item-2:checked ~ .cards #select-2, 
#item-3:checked ~ .cards #select-3 {
    transform: translateX(0) translateY(15%) scale(1);
    z-index: 1;
}

#services .slider .container .cards .texto {
    margin-top: 5px;
    position: absolute;
    text-align: center;
}
#services .slider .container .cards .texto h3 {
    font-size: 25px;
}
#services .slider .container .cards .texto p {

    font-family: "Metrophobic", sans-serif;
    font-weight: 600;
    font-style: normal;
}



/*PRODUCTOS*/

.titulo_prod {
text-align: center;
font-family: "Metrophobic", sans-serif;
font-weight: 900;
font-style: normal;
font-size: 30px;
margin-top: 25rem;
}
#productos {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;

}

#productos .contenedor_productos {
    margin-top: 4rem;
    display: grid;
    row-gap: 3.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el ancho de las columnas automáticamente */
    justify-content: center; /* Centra los productos en el contenedor */
}

@media screen and (min-width: 768px) and (max-width: 1199px) { /* Para pantallas medianas */
    #productos .contenedor_productos {
        grid-template-columns: repeat(2, 1fr); /* Divide la rejilla en dos columnas */
    }
}

@media screen and (min-width: 1200px) { /* Para pantallas más anchas */
    #productos .contenedor_productos {
        grid-template-columns: repeat(3, 1fr); /* Divide la rejilla en tres columnas */
    }
}

#productos .producto {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

#productos img {
    width: 320px;
    border-radius: 1.5rem;
}
#productos img:hover{
    content: url(../recursos/prod_fondo2.png);
    
}


#productos .content {
    width: 280px;
    background-color: rgb(168, 22, 22);
    color: aliceblue;
    padding: 1.5rem 2rem;
    box-shadow: 7px 7px 10px rgba(0, 0%, 0%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

#productos .content h3 {
    display: block;
    font-size: 20px;
    margin-bottom: .25rem;
    font-family: "Metrophobic", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#productos .content p {
   
    font-size: 15px;
    font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#productos .producto:hover .content{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

#productos .producto:hover {
    animation: remove-overflow 2s forwards;
}

#productos .producto:not(:hover){
    animation: show-overflow 2s forwards;
}

#productos .producto:not(:hover) .content{
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

/* RESEÑAS */

#reseñas h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}

#reseñas img {
    width: 340px;
    margin-left: 20vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#reseñas .reseña {
    margin: 17vh;
}





@keyframes cambio{
    0% { margin-left: 0;}
    20% { margin-left: 0;}
    28% { margin-left: -100%;}

    45% { margin-left: -100%;}
    50% { margin-left: -100%;}
    80% { margin-left: -100%;}

    88% { margin-left: -200%;}
    95% { margin-left: -200%;}
    100% { margin-left: -200%;}
}

