* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
}

:root {
    --azulito: rgb(36, 69, 95);
    --color0: rgb(194, 194, 194);
    --color1: #c0bebe;
    --color2: #8d8d8d;
    --color3: rgb(101, 101, 101);
    --black: #131313;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color2);
    position: relative;
    overflow-x: hidden;
}

/*
.franja-vertical1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    width: 800px;
    height: 125vh;
    background-color: var(--color3);
    z-index: -999;
}

.franja-vertical2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 190vh;
    border-radius: 100px;
    width: 800px;
    height: 200vh;
    background-color: var(--color3);
    z-index: -999;
}
*/


/*HEADER*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;

    z-index: 2;
}


header.transicion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black);
    z-index: 2;
}

.logo {
    font-family: 'jacques francois';
    position: relative;
    right: 1rem;
    font-size: 35px;
    text-decoration: none;
    color: var(--color1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.contenedor a {
    font-size: 22px;
    color: var(--color1);
    text-decoration: none;
    margin-left: 40px;
    transition: all .5s ease;
}

.contenedor a:hover {
    color: aliceblue;
}



/*BANNER */

#banner .slider-container {
    overflow-x: hidden;
}

#banner .slider {
    width: 100%;
    height: 110vh;
}

#banner .slider ul {
    display: flex;
    animation: cambio 15s infinite alternate linear;
    width: 300%;
}


@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    28% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -100%;
    }

    80% {
        margin-left: -100%;
    }

    88% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}


#banner .slider li {
    width: 100%;
    list-style: none;
}

#banner .slider img {
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
    height: 100vh;
}

#banner .content {
    width: 100%;
    color: var(--color1);
    position: absolute;
    text-align: center;
    top: 50vh
}

#banner .content h2 {
    font-family: 'jacques francois';
    font-size: 80px;
    filter: drop-shadow(7px 7px 10px black);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#banner .content p {
    color: var(--color1);
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: 300;
    filter: drop-shadow(7px 7px 10px black);
}

#banner a {
    color: var(--black);
    display: inline-block;
    background: var(--color1);
    border: 1px solid;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 20px;
    border-radius: 26px;
    transition: all .5s ease;
    text-decoration: none;
}

#banner a:hover {
    background: var(--black);
    color: var(--color1);
}


/*ICONOS REDES*/

#icono {
    display: grid;
    background: rgb(36, 36, 36);
    border: 1px solid var(--color1);
    border-radius: 30px;
    padding: 8px 10px;
    position: fixed;
    bottom: 3%;
    left: 2%;
}

#icono .whatsapp img {
    position: relative;
    width: 45px;
}

#icono .instagram img {
    position: relative;
    width: 45px;
}




#icono .whatsapp .numero {
    width: 150px;
    height: 20px;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    left: 2.5rem;
    right: 0;
    bottom: 5rem;
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icono .instagram .usuario {
    width: 150px;
    height: 20px;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    left: 2.5rem;
    right: 0;
    bottom: .7rem;
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icono .whatsapp .numero h4 {
    color: rgb(54, 212, 75);
    font-family: "Unbounded", sans-serif;
    font-size: 12px;
    display: block;
    position: absolute;
    font-style: normal;
}

#icono .instagram .usuario h4 {
    background: radial-gradient(circle at 33% 100%,
            #fed737 4%,
            #f15245 30%,
            #d92e7f 62%,
            #9b36b7 85%,
            #515ecf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Unbounded", sans-serif;
    font-size: 12px;
    display: block;
    font-style: normal;
}



#icono .whatsapp:hover .numero {
    animation: show-num 1s forwards;
    opacity: .9;
    transition: opacity .3s;
}

#icono .whatsapp:hover {
    animation: remove-overflow 2s forwards;
}

#icono .whatsapp:not(:hover) {
    animation: show-overflow 2s forwards;
}

#icono .whatsapp:not(:hover) .numero {
    animation: remove-num 1s forwards;
}




#icono .instagram:hover .usuario {
    animation: show-num 1s forwards;
    opacity: .9;
    transition: opacity .3s;
}

#icono .instagram:hover {
    animation: remove-overflow 2s forwards;
}

#icono .instagram:not(:hover) {
    animation: show-overflow 2s forwards;
}

#icono .instagram:not(:hover) .usuario {
    animation: remove-num 1s forwards;
}


@keyframes show-num {
    50% {
        transform: translateX(2rem);
    }

    100% {
        transform: translateX(1.4rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-num {
    0% {
        transform: translateX(1.4rem);
    }

    50% {
        transform: translateX(2rem);
    }

    100% {
        transform: translateX(-1rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}



/*SERVICIOS*/

#services {
    margin-bottom: 20rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10rem;
    padding-top: 1rem;
}

#services h2 {
    font-family: "Unbounded", sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 200;




}

#services .slider {
    max-width: 1000px;
    height: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#services .slider .container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

#services .slider .container .cards {
    position: relative;
    width: 100%;
    height: 100%;
}

#services .slider .container .cards .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#services .slider .container .cards .card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
}

#item-2:checked~.cards #select-1,
#item-1:checked~.cards #select-3,
#item-3:checked~.cards #select-2 {
    transform: translateX(-80%) scale(0.8);
    z-index: 0;
    opacity: 0.6;
}

#item-3:checked~.cards #select-1,
#item-1:checked~.cards #select-2,
#item-2:checked~.cards #select-3 {
    transform: translateX(80%) scale(0.8);
    z-index: 0;
    opacity: 0.6;
}

#item-1:checked~.cards #select-1,
#item-2:checked~.cards #select-2,
#item-3:checked~.cards #select-3 {
    transform: translateX(0) translateY(15%) scale(1);
    z-index: 1;
}

#services .slider .container .cards .texto {
    margin-top: 5px;
    position: absolute;
    text-align: center;
}

#services .slider .container .cards .texto h3 {
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
}

#services .slider .container .cards .texto p {
    font-family: "Unbounded", sans-serif;
    font-weight: 300;
    font-style: normal;
}



/*PRODUCTOS*/

.titulo_prod h3 {
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 45px;
    font-weight: 200;
    font-style: normal;
}

#productos {
    display: grid;
    place-items: center;
    margin: 0 auto;
    padding: 4rem;
    max-width: 50%;
}

#productos .contenedor_productos {
    margin-top: 4rem;
    display: grid;
    row-gap: 3.5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    max-width: 100%; /* Establece el ancho máximo del contenedor de productos */
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #productos .contenedor_productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    #productos .contenedor_productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

#productos .producto {
    position: relative;
    overflow: hidden;
    margin: 15px;
    filter: drop-shadow(7px 7px 10px rgb(26, 26, 26));
}

#productos img {
    max-width: 100%;
    border-radius: 1.5rem;
    transition: all;
    height: auto;
}


#productos .content {
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    box-shadow: 7px 7px 10px rgba(0, 0%, 0%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.content h3 {
    display: block;
    font-size: 18px;
    margin-bottom: .25rem;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#productos p {
    font-size: 15px;
    font-family: "Unbounded", sans-serif;
    font-weight: 200;
    font-style: normal;
}

#productos .producto:hover .content {
    animation: show-data 1s forwards;
    opacity: .9;
    transition: opacity .3s;
}

#productos .producto:hover {
    animation: remove-overflow 2s forwards;
}

#productos .producto:not(:hover) {
    animation: show-overflow 2s forwards;
}

#productos .producto:not(:hover) .content {
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-5rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-5rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/* RESEÑAS */

#resenia {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#resenias h2 {
    padding-top: 7rem;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}

#resenias img {
    width: 400px;
    margin: 28px;
    border-radius: 1rem;
    border: solid 1px var(--color2);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    filter: drop-shadow(5px 5px 10px rgb(32, 32, 32));

}

#resenias .resenia {
    display: flex;
    margin: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}


/*nosotros*/

#nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 50%;

    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(53, 53, 53);
}

#nosotros img {
    width: 400px;
    margin: 0 auto;
    filter: drop-shadow(7px 7px 10px rgb(26, 26, 26));
    mask-image: linear-gradient(black 40%, transparent);
}

#nosotros p {
    font-size: 20px;
    color: var(--color0);
}

#nosotros h3 {
    font-size: 26px;
    margin-bottom: 2rem;
    color: var(--color0);
}



/* Contacto */

#contacto {
    height: 90vh;

}

#contacto h2 {
    margin-top: 15rem;
    font-weight: 200;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#contacto .logo-barber {
    width: 60px;
    margin-right: 10px;
    margin-bottom: -10px;
}

#contacto .mapa {
    position: absolute;
    padding-top: 7rem;
    padding-left: 19rem;
}

#contacto aside {
    justify-content: center;
    text-align: center;
    align-items: center;
    float: right;
    width: 30%;
    margin-right: 19rem;
    padding: 170px 0px;
}

#contacto .mapa iframe {
    filter: drop-shadow(7px 7px 10px rgb(26, 26, 26));
    border-radius: 20px;
    width: 700px;
}

#contacto aside img {
    width: 40px;
}

hr {
    border-color: #131313;
}




footer {
    background-color: var(--black);
    color: rgb(199, 201, 193);
    text-align: center;
    height: 300px;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
    margin-top: 1rem;
}

.footer h3 {
    text-align: center;
    margin: 15px;
}

.footer-content p {
    color: var(--color2);
    font-weight: 300;
    margin: auto;
    margin: 7px;
}

.footer-content ul {
    text-align: center;
}

.footer-content li {
    list-style-type: none;
}

.footer-content a {
    text-decoration: none;
    font-weight: 300;
    color: var(--color2);
    font-size: 20px;
}


.lista {
    padding: 0;
}

.lista li {
    text-decoration: none;
    font-weight: 300;
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 3px;
    position: relative;
}

.footer-content .red li {
    margin: 7px;
}

.footer-content h3 {
    font-size: 25px;
    margin-bottom: 10px;
}


.botom-footer {
    background: rgb(30, 30, 30);
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
}

.botom-footer p {
    color: var(--color1);
    margin: 0;
    font-size: 13px;
}

/*resposive*/
@media screen and (max-width: 1919px) {
    #services {
        width: 70%;
    }
    .contenedor_productos {
        width: 80%;
    }

    #productos {
        max-width:80%;
        /* Ancho del contenedor en resolución de 1920px */
    }

    #producto img {
        max-width: 100%;
        /* Aumentar el tamaño de las imágenes al 200% */
        height: auto;
    }

    .content {
        height: 100%;
    }

    #nosotros {
        grid-template-columns: 1fr 1fr;
        max-width: 60%;
        padding: 1rem;

    }

    #contacto {
        flex-direction: row;

    }

    #contacto aside {
        margin-right: 4rem;
    }

    #contacto .mapa {
        padding-left: 4rem;
    }

}

@media (max-width: 1500px) {
    #nosotros {
        grid-template-columns: 1fr 1fr;
        max-width: 80%;
    }

    #nosotros img {
        width: 100%;
        max-width: 400px;
    }
    #productos {
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr 1fr));
        max-width: 80%;
    }

    #productos img {
        width: 100%;
    }
}


@media (max-width: 1300px) {
    #productos .producto:hover .content {
        padding: 1rem;
    }

    #productos {
        max-width: 80%;
    }

    #productos img {
        width: 100%;
    }

    #nosotros {
        grid-template-columns: 1fr;
        max-width: 80%;
    }

    #nosotros img {
        width: 100%;
        max-width: 400px;
    }

    #contacto {
        flex-direction: row;

    }

    #contacto aside {
        margin-right: 1rem;
        width: 80%;
    }

    #contacto .mapa {
        padding-left: 1rem;
    }
}





@media (max-width : 1100px){
    #productos {
        max-width: 85%;
    }

    #productos img {
        width: 100%;
    }

}